/** @format */
@import "tailwindcss";
@import "./styles/markdown.css";
@import "./styles/typography.css";
@import "./styles/layout.css";
@import "./styles/boss.css";

:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-gray: #636363;
	--color-yellow: #f9d01c;
	--color-primary: #971e32;
	--color-overlay: #e2e2e2;
	--color-success: #04a604;
	--color-error: #d30124;
}

* {
	font-family: "Pixelify Sans", sans-serif;
	image-rendering: pixelated;
}

.font-primary {
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.shadow-custom {
	box-shadow: 6px 6px 0px var(--color-gray);
}

@keyframes floatPixel {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(6px);
	}
}

.animate-float-pixel {
	animation: floatPixel 1s steps(2, end) infinite;
}

.image-pixel {
	image-rendering: pixelated;
	transform: scale(1.05);
	filter: contrast(1.6) saturate(0.6);
}
